body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 20px;
}

nav {
    background-color: #6f4c3e; /* Coklat */
    padding: 10px;
    margin-bottom: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline;
}

h1, h2 {
    color: #6f4c3e; /* Coklat */
}

input[type="text"], input[type="password"], input[type="number"], input[type="submit"], select {
    width: 10%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #6f4c3e; /* Coklat */
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #5b3e30; /* Coklat lebih gelap */
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0e0d6; /* Coklat muda */
}